*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.con{
    width: 80%;
    margin: 0 auto;
}
.con1{
    background: #F6F6F6;
    padding: 65px 0;
}
.con2{
    background: #EEF3FA;
}
.con3{
    background: #535860;
}
a{
    color: inherit;
}